In [2]:
import numpy as np
import pandas as pd
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, StandardScaler, MinMaxScaler

In [3]:
df = pd.read_csv('Pokemon.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           800 non-null    int64
 1   Name        800 non-null    object
 2   Type 1      800 non-null    object
 3   Type 2      414 non-null    object
 4   Total       800 non-null    int64
 5   HP          800 non-null    int64
 6   Attack      800 non-null    int64
 7   Defense     800 non-null    int64
 8   Sp. Atk     800 non-null    int64
 9   Sp. Def     800 non-null    int64
 10  Speed       800 non-null    int64
 11  Generation  800 non-null    int64
 12  Legendary   800 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 75.9+ KB

In [5]:
df.isnull().sum()

df.dropna(inplace=True)

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 414 entries, 0 to 799
Data columns (total 13 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   #           414 non-null    int64
 1   Name        414 non-null    object
 2   Type 1      414 non-null    object
 3   Type 2      414 non-null    object
 4   Total       414 non-null    int64
 5   HP          414 non-null    int64
 6   Attack      414 non-null    int64
 7   Defense     414 non-null    int64
 8   Sp. Atk     414 non-null    int64
 9   Sp. Def     414 non-null    int64
 10  Speed       414 non-null    int64
 11  Generation  414 non-null    int64
 12  Legendary   414 non-null    bool
dtypes: bool(1), int64(9), object(3)
memory usage: 42.5+ KB

In [ ]:
hot = OneHotEncoder()

encoded = hot.fit_transform(df[['Type 2']])

encoded_df = pd.DataFrame(encoded.toarray(), columns=hot.get_feature_names_out(['Type 2']))

df_encoded = pd.concat([df, encoded_df], axis=1)

df_encoded.head()

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 414 stored elements and shape (414, 18)>
  Coords	Values
  (0, 13)	1.0
  (1, 13)	1.0
  (2, 13)	1.0
  (3, 13)	1.0
  (4, 7)	1.0
  (5, 2)	1.0
  (6, 7)	1.0
  (7, 7)	1.0
  (8, 13)	1.0
  (9, 13)	1.0
  (10, 13)	1.0
  (11, 13)	1.0
  (12, 7)	1.0
  (13, 7)	1.0
  (14, 7)	1.0
  (15, 7)	1.0
  (16, 7)	1.0
  (17, 7)	1.0
  (18, 10)	1.0
  (19, 10)	1.0
  (20, 4)	1.0
  (21, 4)	1.0
  (22, 7)	1.0
  (23, 7)	1.0
  (24, 13)	1.0
  :	:
  (389, 11)	1.0
  (390, 11)	1.0
  (391, 7)	1.0
  (392, 4)	1.0
  (393, 4)	1.0
  (394, 4)	1.0
  (395, 9)	1.0
  (396, 9)	1.0
  (397, 9)	1.0
  (398, 9)	1.0
  (399, 9)	1.0
  (400, 9)	1.0
  (401, 9)	1.0
  (402, 9)	1.0
  (403, 9)	1.0
  (404, 9)	1.0
  (405, 2)	1.0
  (406, 2)	1.0
  (407, 7)	1.0
  (408, 10)	1.0
  (409, 4)	1.0
  (410, 4)	1.0
  (411, 8)	1.0
  (412, 1)	1.0
  (413, 17)	1.0

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,...,Type 2_Ghost,Type 2_Grass,Type 2_Ground,Type 2_Ice,Type 2_Normal,Type 2_Poison,Type 2_Psychic,Type 2_Rock,Type 2_Steel,Type 2_Water
0,1.0,Bulbasaur,Grass,Poison,318.0,45.0,49.0,49.0,65.0,65.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
1,2.0,Ivysaur,Grass,Poison,405.0,60.0,62.0,63.0,80.0,80.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,3.0,Venusaur,Grass,Poison,525.0,80.0,82.0,83.0,100.0,100.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
3,3.0,VenusaurMega Venusaur,Grass,Poison,625.0,80.0,100.0,123.0,122.0,120.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
6,6.0,Charizard,Fire,Flying,534.0,78.0,84.0,78.0,109.0,85.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [30]:
df_num = df.select_dtypes(exclude=["object", "bool"])
df_num.drop(columns=['#',"Generation"], inplace=True)


std = StandardScaler()
std_scaled = std.fit_transform(df_num)
std_scaled =pd.DataFrame(std_scaled, columns=df_num.columns)

print(df_num.head())
print(std_scaled.head())

   Total  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed
0    318  45      49       49       65       65     45
1    405  60      62       63       80       80     60
2    525  80      82       83      100      100     80
3    625  80     100      123      122      120     80
6    534  78      84       78      109       85    100
      Total        HP    Attack   Defense   Sp. Atk   Sp. Def     Speed
0 -1.148501 -1.121601 -1.015336 -0.942310 -0.356837 -0.378462 -0.895656
1 -0.427726 -0.465688 -0.629095 -0.512260  0.087421  0.158861 -0.369099
2  0.566446  0.408863 -0.034878  0.102096  0.679764  0.875291  0.332977
3  1.394923  0.408863  0.499917  1.330808  1.331341  1.591721  0.332977
4  0.641009  0.321408  0.024544 -0.051493  0.946318  0.337968  1.035053